%html
  %head
    %title OAuth
    %link{ rel: 'stylesheet', href: '/style.css' }
  %body
    #wrapper
      %h1 OAuth
      - if(flashes)
        %ul.messages.info
          - each msg in flashes
            %li= msg
      %body!= body